<div class="d-flex align-items-center justify-content-center" style="height: 100vh; display: flex; justify-content: center;">
  <div class="text-center">
    <h1>Online Book Shopping App : Team H </h1>
    <h2>Created By : Devashish, Neha, Girish</h2><br><br>
    <%= link_to "Sign up as user", new_user_registration_path, class: 'btn btn-primary' %>
    <p class="my-3">Or</p>
    <%= link_to "Log in as user", new_user_session_path, class: 'btn btn-primary' %>
    <p class="my-3">Or</p>
    <%= link_to "Log in as admin", new_admin_session_path, class: 'btn btn-primary' %>
  </div>
</div>
