<div class="card">
  <div class="card-header">
    <h4>New Book</h4>
  </div>

  <div class="card-body">
    <%= render "form", book: @book %>
    <br>
    <%= link_to "Back", books_path %>
  </div>
</div>
