<div class="card">
  <div class="card-header">
    <h4>Edit review</h4>
  </div>
  <div class="card-body">
    <%= render "form", review: @review %>
    <br>
    <%= link_to "Back", :back %>
  </div>
</div>
