<div class="card">
  <div class="card-header">
    <h4>New review</h4>
  </div>
  <div class="card-body">
    <%= render "form", review: @review %>
    <br>
    <%= link_to "Back to books", books_path %>
  </div>
</div>
