<div class="card">
  <div class="card-header">
    <h4>Item details</h4>
  </div>
  <div class="card-body">
    <%= render "form", shopping_cart_item: @shopping_cart_item, submit_text: "Update in cart" %><br/>
    <%= link_to "Back to books", books_path %>
  </div>
</div>