<% if notice || alert %>
  <div class="container my-3">
    <div class="alert alert-dismissible fade show <%= alert ? 'alert-danger' : 'alert-success' %> text-center" role="alert">
      <% if notice %>
        <%= notice %>
      <% end %>
      <% if alert %>
        <%= alert %>
      <% end %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>
