<div class="card">

  <div class="card-header">
    <h4>Sign up as user</h4>
  </div>

  <div class="card-body">
      <%= render 'users/registrations/form', submit_text: 'Create account' %>
      <br/>
      <%= render "users/shared/links" %>
      <%= link_to "Back", :back %>
  </div>
</div>